        /*Header*/
        /*Overall Button*/
        
        .btn-index {
            /* padding: .75em; */
            display: inline-block;
            /* padding: .75rem 1.25rem; */
            border-radius: 10rem;
            text-transform: uppercase;
            font-size: 1rem;
            letter-spacing: .15rem;
            border: 1px rgb(187, 179, 179) solid;
            background: linear-gradient(to right, #c1272d, rgb(193, 39, 45));
            background-repeat: no-repeat;
            background-size: 0 100%;
            transition: background-size 1s 0s;
            /* color: rgb(134, 78, 78); */
            color: rgb(17, 16, 17) !important;
        }
        
        .btn-index:hover {
            background-size: 100% 100%;
        }
        
        input {
            padding: .75em;
            border: 1px #ddd solid;
            background: linear-gradient(to right, #404DC2, rgb(57, 8, 233));
            background-repeat: no-repeat;
            background-size: 0 100%;
            transition: background-size 1s 0s;
        }
        
        input:hover {
            background-size: 100% 100%;
        }
        
        body {
            overflow-x: hidden;
        }
        
        #header {
            width: 100% !important;
        }
        
        #header .search {
            display: inline-block;
        }
        
        .top-bar {
            /* height: 35px !important;
            padding: 5px 0; */
            /* background: #191919; */
            background: #404DC2;
            line-height: 28px;
        }
        
        .top-number {
            color: #000 !important;
        }
        
        .top-number p {
            margin: 0
        }
        
        .top-number .fa {
            background: #c1272d;
            width: 25px;
            height: 25px;
            line-height: 25px;
            text-align: center;
            border-radius: 2px;
            -webkit-transition: all 0.8s;
            -moz-transition: all 0.8s;
            -o-transition: all 0.8s;
            -ms-transition: all 0.8s;
            transition: all 0.8s;
        }
        
        .top-number .fa:hover {
            background: #fff;
            color: #404DC2;
            -moz-transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
            -ms--transform: rotate(360deg);
            transform: rotate(360deg);
            -webkit-transition: all 0.2s;
            -moz-transition: all 0.2s;
            -o-transition: all 0.2s;
            -ms-transition: all 0.2s;
            transition: all 0.2s;
        }
        
        .social {
            text-align: right;
        }
        
        .social-share {
            display: inline-block;
            list-style: none;
        }
        
        ul.social-share li {
            display: inline-block;
        }
        
        ul.social-share li a {
            display: inline-block;
            color: #fff;
            /* background: #404040; */
            background: #c1272d;
            width: 25px;
            height: 25px;
            line-height: 25px;
            text-align: center;
            border-radius: 2px;
            -webkit-transition: all 0.8s;
            -moz-transition: all 0.8s;
            -o-transition: all 0.8s;
            -ms-transition: all 0.8s;
            transition: all 0.8s;
        }
        
        ul.social-share li a:hover {
            background: #fff;
            color: #404DC2;
            -moz-transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
            -ms--transform: rotate(360deg);
            transform: rotate(360deg);
            -webkit-transition: all 0.2s;
            -moz-transition: all 0.2s;
            -o-transition: all 0.2s;
            -ms-transition: all 0.2s;
            transition: all 0.2s;
        }
        
        .search i {
            color: #c1272d;
        }
        /* input.search-form {
            background: transparent;
            border: 0 none;
            width: 60px;
            padding: 0 10px;
            color: #c1272d;
            -webkit-transition: all 400ms;
            transition: all 400ms;
        } */
        /* input.search-form::-webkit-input-placeholder {
            color: transparent;
        }
        
        input.search-form:hover::-webkit-input-placeholder {
            color: #000;
        }
        
        input.search-form:hover {
            width: 180px;
        } */
        
        .navbar {
            /* height: 90px; */
            /* border-radius: 0; */
            margin-bottom: 0;
            /* background: #151515; */
            /* background: #C43337!important; */
            /* padding: 5px 0; */
            /* padding-bottom: 0; */
            background-color: rgb(193, 39, 45);
            /* background-color: rgb(255, 253, 253) */
        }
        
        .navbar-inverse .navbar-nav li {
            text-align: center !important;
            text-transform: uppercase;
            letter-spacing: .1rem;
            font-size: .9rem;
            padding: .6rem;
            font-weight: 700;
            margin: 5px;
        }
        
        .navbar .navbar-nav>li>a {
            padding: .5rem;
            /* margin: 0; */
            border-radius: 3px;
            color: #fff;
            /* color: firebrick !important; */
            line-height: 24px;
            display: inline-block;
            font-weight: 700;
            margin-right: 25px;
        }
        
        .navbar .navbar-nav>li>a:hover {
            color: #404DC2 !important;
            /* font-size: medium; */
            font-size: 20px;
            border-bottom: 2px solid #404DC2;
        }
        
        .navbar .navbar-nav>:focus>a {
            color: #404DC2;
            /* background-color: #EC5538; */
        }
        
        .navbar .navbar-nav.active,
        .navbar .navbar-nav :hover {
            /* background-color: rgb(163, 134, 128); */
            color: #404DC2;
        }
        
        .navbar .nav-link {
            color: #fff;
        }
        
        #mainmenu {
            font-size: 1.1rem;
            /* background-color: #e3f2fd; */
        }
        
        .dropdown-menu {
            /* width: 100%; */
            position: absolute;
            /* background-color: rgb(196, 51, 55); */
            /* left: auto;
    right: 0; */
            /* left: -30rem; */
            /* right: 0; */
            /* margin: auto; */
        }
        
        .dropdown-menu li h5 {
            color: rgb(57, 8, 233) !important;
        }
        
        .dropdown-menu li h5:hover {
            color: rgb(193, 39, 45) !important;
        }
        
        .dropdown-menu li a {
            padding: 5px 18px;
            /* font-weight: 300; */
        }
        
        .multi-column-dropdown {
            list-style: none;
            /* width: 100%; */
        }
        
        .dropdown-submenu {
            position: relative;
        }
        
        .dropdown-submenu li a {
            /* width: 100%; */
            text-decoration: none;
            list-style: none;
        }
        
        .dropdown-submenu:hover>.dropdown-menu {
            /* top: -100px; */
            /* left: 11rem; */
            /* 10rem is the min-width of dropdown-menu */
            /* margin-top: -9px; */
            display: block;
            /* padding-left: 7px; */
            /* width: 15rem; */
        }
        
        .dropdown:hover>.dropdown-menu {
            display: block
        }
        
        .multi-column-dropdown li a {
            display: block;
            color: #333;
        }
        /* .dropdown-menu .multi-column-dropdown {
        background-color: transparent;
        width: 300px;
        justify-content: space-around;
    } */
        /* .dropdown-menu .multi-column-dropdown:hover {
        justify-content: left;
        background-color: transparent;
        left: 0;
    } */
        
        @media(min-width:992px) {
            .multi-column {
                min-width: 957px !important;
                left: -280%;
            }
            .dropdown-submenu:hover>.dropdown-menu {
                /* top: -100px; */
                left: 11rem;
                /* 10rem is the min-width of dropdown-menu */
                margin-top: -22px;
                display: block;
                top: -100px;
                /* padding-left: 7px; */
                width: 15rem;
            }
        }
        
        @media (max-width:991.98px) and (min-width:767.98px) {
            .multi-column {
                min-width: 740px !important;
                left: -280%;
            }
        }
        /*Main Slider  Start*/
        
        #main-slider {
            position: relative;
        }
        
        #main-slider .carousel-item {
            opacity: 1;
        }
        
        #main-slider .carousel-inner .carousel-item {
            backface-visibility: visible;
            perspective: 5000px;
            transition: opacity 0.2s ease-in-out 0.1s;
        }
        
        #main-slider .carousel-control-prev,
        #main-slider .carousel-control-next {
            background-color: #c1272d;
            color: #fff;
            position: absolute;
            display: inline-block;
            top: 40%;
            height: 40px;
            width: 40px;
            margin: 0 5px;
            border-radius: 4px;
            line-height: 47px;
            text-align: center;
            z-index: 5;
        }
        
        #main-slider .carousel-control-prev:hover,
        #main-slider .carousel-control-next:hover {
            background-color: #404DC2;
        }
        
        .carousel-caption {
            top: 50%;
            bottom: auto;
        }
        
        .carousel-indicators li {
            width: 10px;
            height: 10px;
            border-radius: 100%;
        }
        /*  @media (max-width: 767px) {
    #main-slider .carousel h1 {
        font-size: 25px;
    }
} */
        /*Our Products..*/
        /* #our-product {
            background-image: url('../../assets/images/history.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        } */
        
        #our-product h2 {
            text-align: center;
            margin: 1em;
            font-size: 1.7em;
            color: #c1272d;
            text-transform: uppercase;
        }
        
        #our-product p {
            text-align: center;
            color: rgb(12, 11, 11);
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
        
        #our-product img-caption>a {
            color: #000;
            text-transform: uppercase;
        }
        
        #our-product img-caption>a:hover {
            color: #c1272d;
        }
        /*Our about-us home page*/
        
        #about-us h4 h3 {
            margin-left: 16px;
        }
        
        #about-us {
            /* background-color: #f1f1f1; */
        }
        
        .about-text {
            text-align: justify !important;
            font-family: sans-serif;
            color: #000;
        }
        
        #feature-products {
            /* background-color: rgb(48, 50, 54); */
            position: relative;
            background-image: url('../../assets/images/feature-banner.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }
        
        #feature-products h3,
        p {
            text-align: center;
            color: #fff;
        }
        /*Our Feature Product slider*/
        
        @media (max-width: 767.98px) {
            .carousel-inner .carousel-item>div {
                display: none;
            }
            .carousel-inner .carousel-item>div:first-child {
                display: block;
            }
        }
        
        .carousel-inner .carousel-item.active,
        .carousel-inner .carousel-item-next,
        .carousel-inner .carousel-item-prev {
            display: flex;
        }
        /* display 3 */
        
        @media (min-width: 768px) {
            .carousel-inner .carousel-item-right.active,
            .carousel-inner .carousel-item-next {
                transform: translateX(33.333%);
            }
            .carousel-inner .carousel-item-left.active,
            .carousel-inner .carousel-item-prev {
                transform: translateX(-33.333%);
            }
        }
        
        .carousel-inner .carousel-item-right,
        .carousel-inner .carousel-item-left {
            transform: translateX(0);
        }
        
        #feature-products .carousel-inner .carousel-item .card a>h4 {
            color: #000;
        }
        
        #feature-products .carousel-inner .carousel-item .card a>h4:hover {
            color: #c1272d;
            text-transform: uppercase;
        }
        /*End feature slider*/
        
        .carousel-item-prev,
        .carousel-item-next,
        .carousel-item.active {
            display: flex;
        }
        /*OurCertificate */
        
        #our-certiicate h4,
        h2 {
            text-align: center;
            color: #fff;
        }
        
        #our-certiicate {
            background: rgb(36, 39, 45);
        }
        
        #our-certificate img {
            padding: 3px;
        }
        /* .fa {
            transform: rotateZ(180deg);
        } */
        
        .footer_icon {
            background-image: url('../../assets/images/slider/bg1.jpg');
            padding: 50px;
            background-size: 100%;
            background-repeat: no-repeat;
        }
        
        .footer_icon .icon {
            text-align: center;
        }
        
        .footer_icon .icon h3 {
            font-family: 'montserratmedium';
            font-size: 15px;
            color: #f87f00;
            margin-top: 30px;
        }
        
        .footer_icon .icon h2 {
            font-family: 'montserratmedium';
            font-size: 15px;
            color: #fff;
            margin-top: 15px;
        }
        
        .footer_icon .icon p {
            font-family: 'open_sansregular';
            color: #b6b6b6;
            line-height: 33px;
            margin: 0;
        }
        
        @media only screen and (max-width: 980px) {
            .footer_icon {
                background-image: none;
                background-color: #000;
            }
        }
        /*Footer*/
        
        .footer {
            background: #c1272d;
        }
        
        .footer .about-company {
            border-right: 1px solid #404DC2;
        }
        
        .footer h4 {
            color: #fff;
        }
        
        .footer .categories {
            border-right: 1px solid #404DC2;
        }
        
        .footer .feedback {
            border-right: 1px solid #404DC2;
        }
        
        .footer .list-style li a {
            color: #fff;
        }
        
        .footer .list-style li a:hover {
            color: #404DC2;
            font-size: large;
        }
        
        .footer .feedback p {
            text-align: left;
            color: #fff;
        }
        
        .about-company h2 {
            margin: 0;
            padding: 0;
        }
        
        .footer .contact-us p {
            /* text-align: center; */
            color: #fff;
        }
        /* Change Autocomplete styles in Chrome*/
        
        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus,
        textarea:-webkit-autofill,
        textarea:-webkit-autofill:hover,
        textarea:-webkit-autofill:focus,
        select:-webkit-autofill,
        select:-webkit-autofill:hover,
        select:-webkit-autofill:focus {
            border: 1px solid #000;
            -webkit-text-fill-color: rgb(12, 12, 12);
            -webkit-box-shadow: 0 0 0px 1000px #000 inset;
            transition: background-color 5000s ease-in-out 0s;
        }
        
        .copyright-section {
            background-color: #404DC2 !important;
        }
        
        .copyright p {
            /* border-top: 1px solid rgba(255, 255, 255, .1); */
        }
        
        .copyright p a {
            color: rgb(196, 170, 170);
        }
        
        .copyright p a:hover {
            color: #c1272d;
            font-size: medium;
        }
        /*Contact page css*/
        
        .contact-heading p {
            color: rgb(196, 170, 170);
        }
        
        .contact100-more {
            background-image: url('../../assets/images/bg-01.jpg');
        }
        /*About Page Details*/
        
        .about-pag h3 {
            align-self: auto;
            margin-top: 5px;
        }
        
        .about-pag p {
            text-align: justify;
            color: #000;
        }
        /*SizeChart Css*/
        
        .bold {
            font-weight: bolder;
            list-style-type: circle black;
        }
        
        .border1 {
            border-collapse: collapse;
            /* width: 100%; */
        }
        
        .bold1 {
            font-weight: bolder;
            text-decoration: underline;
            list-style-type: circle black;
            text-align: center;
        }
        
        .size {
            font-weight: bolder;
            text-align: center;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            padding-bottom: 1rem;
            background-color: black;
            color: #fff;
            width: 100%;
        }
        /*Image-Grid css Product Page*/
        
        .container-fluid {
            background-color: whitesmoke;
            overflow: hidden;
        }
        
        .pagination {
            background-color: #404dc2;
            height: 54px;
            width: 100% !important;
        }
        
        .product-description {
            color: rgb(29, 27, 27);
            text-align: justify;
        }
        
        @media(max-width: 767px) {
            .pagi {
                margin: 0;
                padding: 0;
                width: 100% !important;
            }
            .pagi .pagination {
                background-color: #c1272d !important;
            }
        }
        
        .pagination nav ul li a {
            color: rgb(29, 27, 27) !important;
            font-weight: bold;
            padding-top: 1rem;
            padding-bottom: 1rem;
            background-color: #404dc2;
        }
        
        .pagination nav ul li a:hover {
            color: red;
            background-color: #c1272d !important;
        }
        
        .items {
            margin-top: 20px;
        }
        
        .second-line {
            margin-top: 20px;
        }
        
        .card-product:after {
            content: "";
            display: table;
            clear: both;
            visibility: hidden;
        }
        
        .card-product .price-new,
        .card-product .price {
            margin-right: 5px;
            color: white;
        }
        
        .card-product .price-old {
            color: #999;
        }
        
        .card-product .img-wrap {
            border-radius: 3px 3px 0 0;
            overflow: hidden;
            position: relative;
            height: 220px;
            text-align: center;
        }
        
        .card-product .img-wrap img {
            /* max-height: 100%;
            max-width: 100%; */
            object-fit: cover;
            max-height: fit-content !important;
        }
        
        .card-product .info-wrap {
            overflow: hidden;
            padding: 5px;
            border-top: 1px solid #eee;
            background-color: #c1272d;
            color: blue;
            height: 70px;
        }
        
        .card-product .info-wrap h6 a {
            color: white;
        }
        
        .card-product .action-wrap {
            padding-top: 4px;
            margin-top: 4px;
        }
        
        .card-product .bottom-wrap {
            padding: 15px;
            border-top: 1px solid #eee;
            background-color: darkgray;
        }
        
        .card-product .title {
            margin-top: 0;
        }
        
        .btn-overlay:hover {
            background-color: yellow !important;
            cursor: pointer;
            opacity: .5;
        }
        
        .card-product .img-wrap:hover img {
            opacity: 0.3;
        }
        
        .card-product .img-wrap:hover .middle {
            opacity: 1;
        }
        
        .middle {
            transition: .5s ease;
            opacity: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            text-align: center;
        }
        /*SIdenav*/
        
        .nav-side-menu {
            overflow: hidden;
            font-family: verdana;
            font-size: 12px;
            font-weight: 200;
            background-color: #c1272d;
            position: fixed-left;
            top: 0px;
            width: 100%;
            height: 99%;
            color: #e1ffff;
        }
        
        .nav-side-menu .brand {
            background-color: #404dc2;
            line-height: 50px;
            display: block;
            text-align: center;
            font-size: 14px;
            color: white;
        }
        
        .nav-side-menu .toggle-btn {
            display: none;
        }
        
        .nav-side-menu ul,
        .nav-side-menu li {
            list-style: none;
            padding: 0px;
            margin: 0px;
            line-height: 35px;
            cursor: pointer;
            /* .collapsed{
         .arrow:before{
                   font-family: FontAwesome;
                   content: "\f053";
                   display: inline-block;
                   padding-left:10px;
                   padding-right: 10px;
                   vertical-align: middle;
                   float:right;
              }
       }
   */
        }
        
        .nav-side-menu ul :not(collapsed) .arrow:before,
        .nav-side-menu li :not(collapsed) .arrow:before {
            font-family: FontAwesome;
            content: "\f078";
            display: inline-block;
            padding-left: 10px;
            padding-right: 10px;
            vertical-align: middle;
            float: right;
        }
        
        .nav-side-menu ul .active,
        .nav-side-menu li .active {
            border-left: 3px solid #d19b3d;
            background-color: #c1272d;
        }
        
        .nav-side-menu ul .sub-menu li.active,
        .nav-side-menu li .sub-menu li.active {
            color: #d19b3d;
        }
        
        .nav-side-menu ul .sub-menu li.active a,
        .nav-side-menu li .sub-menu li.active a {
            color: #d19b3d;
        }
        
        .nav-side-menu ul .sub-menu li,
        .nav-side-menu li .sub-menu li {
            background-color: #404dc2;
            border: none;
            line-height: 28px;
            border-bottom: 1px solid #23282e;
            margin-left: 0px;
        }
        
        .nav-side-menu ul .sub-menu li:hover,
        .nav-side-menu li .sub-menu li:hover {
            background-color: #020203;
        }
        
        .nav-side-menu ul .sub-menu li:before,
        .nav-side-menu li .sub-menu li:before {
            font-family: Fontawesome;
            content: "\f105";
            display: inline-block;
            padding-left: 20px;
            padding-right: 10px;
            vertical-align: middle;
        }
        
        .nav-side-menu li {
            padding-left: 0px;
            border-left: 3px solid #2e353d;
            border-bottom: 1px solid #23282e;
        }
        
        .nav-side-menu li a {
            text-decoration: none;
            color: #e1ffff;
        }
        
        .nav-side-menu li a i {
            padding-left: 10px;
            width: 20px;
            padding-right: 20px;
        }
        
        .nav-side-menu li:hover {
            border-left: 3px solid #d19b3d;
            background-color: #4f5b69;
            -webkit-transition: all 1s ease;
            -moz-transition: all 1s ease;
            -o-transition: all 1s ease;
            -ms-transition: all 1s ease;
            transition: all 1s ease;
        }
        
        @media (max-width: 767px) {
            .nav-side-menu {
                position: relative;
                width: auto;
            }
            .nav-side-menu .toggle-btn {
                display: block;
                cursor: pointer;
                position: absolute;
                right: 10px;
                top: 10px;
                z-index: 10 !important;
                padding: 3px;
                background-color: #ffffff;
                color: #000;
                width: 40px;
                text-align: center;
            }
            .brand {
                text-align: left !important;
                font-size: 22px;
                padding-left: 20px;
                line-height: 50px !important;
            }
        }
        
        @media (min-width: 768px) {
            .nav-side-menu .menu-list .menu-content {
                display: block;
            }
        }
        
        body {
            margin: 0px;
            padding: 0px;
        }
        
        .nav-side-menu ul .sub-menu ul .sub-line li.active,
        .nav-side-menu li .sub-menu li .sub-line li.active {
            color: #d19b3d;
        }
        
        .nav-side-menu ul .sub-menu li .sub-line li.active a,
        .nav-side-menu li .sub-menu li .sub-line li.active a {
            color: #d19b3d;
        }
        
        .nav-side-menu ul .sub-menu li .sub-line li,
        .nav-side-menu li .sub-menu li .sub-line li {
            background-color: #181c20;
            border: none;
            line-height: 28px;
            border-bottom: 1px solid #23282e;
            margin-left: 0px;
        }
        
        .nav-side-menu ul .sub-menu li .sub-line li:hover,
        .nav-side-menu li .sub-menu li .sub-line li:hover {
            background-color: #020203;
        }
        
        .nav-side-menu ul .sub-menu li .sub-line li:before,
        .nav-side-menu li .sub-menu li .sub-line li:before {
            font-family: FontAwesome;
            content: "\f105";
            display: inline-block;
            padding-left: 100px;
            padding-right: 10px;
            vertical-align: middle;
        }
        
        .nav-side-menu .sub-menu li {
            padding-left: 20px;
            border-left: 3px solid #2e353d;
            border-bottom: 1px solid #23282e;
        }
        
        .nav-side-menu .sub-menu li a {
            text-decoration: none;
            color: #e1ffff;
        }
        
        .sub-menu li a i {
            padding-left: 10px;
            width: 20px;
            padding-right: 20px;
        }
        
        .nav-side-menu li .sub-menu li:hover {
            border-left: 3px solid #d19b3d;
            background-color: #4f5b69;
            -webkit-transition: all 1s ease;
            -moz-transition: all 1s ease;
            -o-transition: all 1s ease;
            -ms-transition: all 1s ease;
            transition: all 1s ease;
        }
        
        @media (max-width: 767px) {
            .nav-side-menu .sub-menu {
                position: relative;
                width: 100px;
                margin-bottom: 10px;
            }
            .nav-side-menu .sub-menu .toggle-btn {
                display: block;
                cursor: pointer;
                position: absolute;
                right: 10px;
                top: 10px;
                z-index: 10 !important;
                padding: 3px;
                background-color: #ffffff;
                color: #000;
                width: 40px;
                text-align: center;
            }
            .sub-line ul .sub-press li.active,
            .sub-line li .sub-press li.active {
                color: #d19b3d;
            }
            .sub-line ul .sub-press li.active a,
            .sub-line li .sub-press li.active a {
                color: #d19b3d;
            }
            .sub-line ul .sub-press li,
            .sub-line li .sub-press li {
                background-color: #181c20;
                border: none;
                line-height: 28px;
                border-bottom: 1px solid #23282e;
                margin-left: 0px;
            }
            .sub-line ul .sub-press li:hover,
            .sub-line li .sub-press li:hover {
                background-color: #020203;
            }
            .sub-line ul .sub-press li:before,
            .sub-line li .sub-press li:before {
                font-family: Arial;
                content: "\f105";
                display: inline-block;
                padding-left: 50px;
                padding-right: 10px;
                vertical-align: middle;
            }
            .sub-line li {
                padding-left: 20px;
                border-left: 3px solid #2e353d;
                border-bottom: 1px solid #23282e;
            }
            .sub-line li a {
                text-decoration: none;
                color: #e1ffff;
            }
            .sub-line li a i {
                padding-left: 50px;
                width: 20px;
                padding-right: 20px;
            }
            .sub-line li:hover {
                border-left: 3px solid #d19b3d;
                background-color: #4f5b69;
                -webkit-transition: all 1s ease;
                -moz-transition: all 1s ease;
                -o-transition: all 1s ease;
                -ms-transition: all 1s ease;
                transition: all 1s ease;
            }
        }
        
        @media (max-width: 767px) {
            .sub-line {
                position: relative;
                width: 100px;
                margin-bottom: 10px;
            }
            .sub-line .toggle-btn {
                display: block;
                cursor: pointer;
                position: absolute;
                right: 10px;
                top: 10px;
                z-index: 10 !important;
                padding: 3px;
                background-color: #ffffff;
                color: #000;
                width: 40px;
                text-align: center;
            }
        }
        
        @media (max-width: 768) {
            .nav-side-menu {
                width: 100%;
            }
        }